@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Underdog', cursive;
  background: url(https://images.unsplash.com/photo-1561494653-744c43aed0c1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1029&q=80);
  background-size: cover;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  text-shadow: rgb(0, 133, 7) 0 0 5px;
  text-align: center;
}

.item {  
  font-family: 'DotGothic16', sans-serif;
  width: 150px;
  height: 66px;
  border: 1px solid rgb(156, 156, 156);
  box-shadow: -1px 5px 53px rgba(6, 194, 16, 0.36);
  border-radius: 20px;
  background: #111;
  padding: 1.1rem 1rem;
  color: #8eed8e;
  font-size: 18px;
  text-align: center;
  cursor: grab;
  background: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  border: 1px solid #8eed8e;
}

.item:active {
  font-family: 'DotGothic16', sans-serif;
  cursor: grabbing;
  text-shadow: #fff 0 0 3px;
  color: transparent;
  background: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  opacity: 0.5;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.hold {
  border: 3px solid #00ff37;
  /* background: linear-gradient(180deg, #68e0cf 0%, #ff85e4 75%); */
}

.hide {
  display: none;
}

.hovered {
  border-top: 2px solid #8ed7ed;
  box-sizing: border-box;
  border: solid #84fab0 2px;
  border-radius: 20px;
}